.main-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.main-page_container
{
    justify-content: center;
    display: flex;
    height: 100vh;
}

.main-page__foxie{
    width: 100%;
}