:root {
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-400: hsl(142, 90%, 61%);

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100vh;
    place-items: center;
    line-height: 1.6;
    background: var(--clr-neutral-900);
    font-family: sans-serif;
}


.card {
    color: var(--clr-neutral-100);
    background-image: url('https://i.imgur.com/aSEcvtb.jpg');
    background-size: cover;
    padding: 8rem 0 0;
    max-width: 35ch;
}

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(hsl(0 0% 0% / 0),
            hsl(0, 0%, 0% / .3) 10%,
            hsl(0, 0%, 0% / 1),
        )
}

.card-title{
    position: relative;
    max-width: 100%;
    width: max-content;
    
}
.card-title::after {
    content: "";
    position: absolute;
    left: calc(var(--padding) * -1 );
    
    bottom: 0;
    height: 4px;
    background: var(--clr-neutral-400);
    width: calc(100% + var(--padding));

}

.buttton{
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-neutral-400);
    padding: 0.5em 1.25em;

}

.button:hover,
.button:focus{
    background-color: var(--clr-neutral-100);
}