body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url("https://i.imgur.com/BGssb4x.jpg");
    background-repeat: repeat;
    background-size: cover;
    backdrop-filter: blur(5px); // blur the bgs
    height: 100vh;
}