.p-card {
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;

}

.container {
    display: flex;
    justify-content: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
}